.vscode
**/.DS_Store
**/__pycache__

**/weights/*
!**/weights/32-normal-theta.pt

# Reducing the volume 

**/logs/*
**/csvs/*
!**/theta_num_workers
!**/habana02_large_batch
**/theta_num_workers/*
!**/theta_num_workers/theta-test-worker-2-256*
**/habana02_large_batch/*
!**/habana02_large_batch/128-duped-128*
!**/habana02_large_batch/128-duped-256*

**/pngs/*
!**/theta-v-habana
**/theta-v-habana/*
!**/theta-v-habana/normal-128-*

**/unet_five_layer.py
**/unet_three_layer.py
unet_bench/scripts/*.py

**/post-procure/*
!**/post-procure/normal-128.csv
**/pre-procure/*
!**/pre-procure/normal-128.txt

