Model-References
hltvs
hltvs/*.txt
hltvs/*.json
mnist.py
train_fp16_bs16.py

**/.DS_Store
**/__pycache__

**/post-procure/*
**/pre-procure/*
**/weights/*
!**/weights/32-normal-theta.pt
unet_bench/performance/csvs/*
unet_bench/performance/txts/*
**/unet_pet.py

**/unet_five_layer.py
**/unet_three_layer.py
unet_bench/scripts/*.py
unet_bench/performance/*
!unet_bench/performance/README.md
unet_bench/unet_thet_dist.py


# Remove eventually
